<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
    <% @user_facade.bookmarked_videos.each do |video| %>
      <li><%= video.title %></li>
    <% end %>
  </section>
  <% if current_user.token == nil %>
    <%= link_to "Connect to Github", :github_auth %>
  <% end %>
  <section>
    <% unless current_user.token == nil %>
    <h1>Github</h1>
    <% @user_facade.repos.each do |repo| %>
  <ul class="repo">
    <li class="name"><%= link_to repo.name, repo.url %></li>
  </ul>
    <% end %>
    <ul class="followers">
    <h2>Followers</h2>
      <% @user_facade.followers.each do |follower| %>
      <ul class="follower">
        <li class="name"> <%= link_to follower.name, follower.url %>
          <% if current_user.friendships.where(friend_id: follower.github_id).count >=1  %>
            <%= "Already a friend" %>
          <% elsif User.where(github_id: follower.github_id).count >= 1%>
            <%= link_to "Add Friend", friendship_path(friend_id: follower.github_id) %>
          <% end %>
        </li>
      </ul>
      <% end %>
    </ul>
      <ul class="following">
      <h2>Following</h2>
      <% @user_facade.following.each do |followed| %>
      <ul class="followed_user">
        <li class="name"> <%= link_to followed.name, followed.url %></li>
        <% if current_user.friendships.where(friend_id: followed.github_id).count >=1 %>
          <%= "Already a friend" %>
        <% elsif User.where(github_id: followed.github_id).count >= 1%>
          <%= link_to "Add Friend", friendship_path(friend_id: followed.github_id) %>
        <% end %>
      </ul>
      <% end %>
    </ul>

      <ul class="friends">
      <% if @user_facade.friends != [] %>
        <h2>Friends</h2>
        <% @user_facade.friends.each do |friend| %>
        <%= "#{friend.first_name} #{friend.last_name}"%>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  </section>
</section>
