<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <section>
    <% unless current_user.token == nil %>
    <h1>Github</h1>
    <% @user_facade.repos.each do |repo| %>
  <ul class="repo">
    <li class="name"><%= link_to repo.name, repo.url %></li>
  </ul>
    <% end %>
    <h2>Followers</h2>
      <% @user_facade.followers.each do |follower| %>
      <ul class="follower">
        <li class="name"> <%= link_to follower.name, follower.url %></li>
      </ul>
      <% end %>
      <h2>Following</h2>
      <% @user_facade.following.each do |followed| %>
      <ul class="followed_user">
        <li class="name"> <%= link_to followed.name, followed.url %></li>
      </ul>
      <% end %>
  <% end %>
  </section>
</section>
