<section class="dashboard-main">
  <h3>Your account is <% if current_user.activated == true %>
                         active.
                       <% else %>
                        inactive.
                      <% end %></h3>
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
    <ul>
      <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
      <li> <%= current_user.email%> </li>
    </ul>
  <section>
    <div class="bookmarked">
  <h1>Bookmarked Segments</h1>
  <% if @user_facade.bookmarked_videos != {} %>
    <% @user_facade.bookmarked_videos.each do |tutorial, videos| %>
      <h3><%= tutorial %></h3>
      <% videos.each do |video| %>
        <li><%= link_to video.title, tutorial_path(id: video.tutorial_id, video_id: video.id) %></li>
      <% end %>
    <% end %>
    <% else %>
      <h3>You have not bookmarked any videos yet.</h3>
    <% end  %>
  </div>
  </section>
  <section>
  <h1>Github</h1>
<%= link_to "Send an Invite", invite_path, class: "mt2 btn btn-primary mb1 bg-teal"  %>
  <% if current_user.token == nil %>
    <%= link_to "Connect to Github", :github_auth, class: "mt2 btn btn-primary mb1 bg-teal"  %>
  <% end %>
    <% if current_user.token != nil && current_user.github_id != nil %>
    <% @user_facade.repos.each do |repo| %>
  <ul class="repo">
    <li class="name"><%= link_to repo.name, repo.url %></li>
  </ul>
    <% end %>
    <ul class="followers">
    <h2>Followers</h2>
      <% @user_facade.followers.each do |follower| %>
      <ul class="follower">
        <li class="name"> <%= link_to follower.name, follower.url %>
          <% if current_user.friendships.where(friend_id: follower.github_id).count >=1  %>
            <%= "Already a friend" %>
          <% elsif User.where(github_id: follower.github_id).count >= 1%>
            <%= link_to "Add Friend", friendship_path(friend_id: follower.github_id) %>
          <% end %>
        </li>
      </ul>
      <% end %>
    </ul>
      <ul class="following">
      <h2>Following</h2>
      <% @user_facade.following.each do |followed| %>
      <ul class="followed_user">
        <li class="name"> <%= link_to followed.name, followed.url %></li>
        <% if current_user.friendships.where(friend_id: followed.github_id).count >=1 %>
          <%= "Already a friend" %>
        <% elsif User.where(github_id: followed.github_id).count >= 1%>
          <%= link_to "Add Friend", friendship_path(friend_id: followed.github_id) %>
        <% end %>
      </ul>
      <% end %>
    </ul>

      <ul class="friends">
        <% if @user_facade.friends != [] %>
          <h2>Friends</h2>
          <% @user_facade.friends.each do |friend| %>
          <%= "#{friend.first_name} #{friend.last_name}"%>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  </section>
</section>
